{% load static %}
{% load service_tags %}

<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{{title}}</title>
    <link  type="text/css" href="{% static 'css/css.css' %}" rel="stylesheet"/>
    <meta http-equiv="Content-Type"  content="text/html; charset=utf-8">
    <link rel="shortcut icon"   href="{% static 'service/images/main.ico'%}" type="image/x-icon"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

</head>
<body>
<table class="table-page" border=0 cellpadding="0" cellspacing="0">
<tr><td valgin="top"><br> <br><br>
{% block mainmenu %}
     <div class="header">
         <ul id="mainmenu" class="mainmenu">
         <li class="logo"><a href="{% url 'home'%}"><div class="logo"></div></a></li>

{% for m in menu %}
             <li><a href="{% url m.url_name %}">{{m.title}}</a></li>

{% endfor %}

             {% if request.user.is_authenticated %}
             <li class="last">{{ user.username }}| <a href="{% url 'logout' %}">Logout</a></li>
             {% else %}
                <li class="last"><a href="{% url 'register' %}">Registration</a>| <a href="{% url 'login' %}">Login</a></li>
             {% endif %}
         </ul>
         <div class="clear"></div>
     </div>
{% endblock mainmenu %}


<table class="table-content" border=0 cellpadding="0" cellspacing="0">
<tr>
<!-- Sidebar -->
    {% load cache %}

    <td valgin="top" class="left-chapters">

    <ul id="leftchapters">
{% cache 60 sidebar %}
        {% if cat_selected == 0 %}
            <p class="selected_li">All</p>
        {% else %}
                  <p class="selected_li">
                      <a class ="catbut" href="{% url 'home' %}">All</a>
                  </p>
        {% endif %}
              {% show_categories 'name' %}
{% endcache %}

    </ul>
</td>

<td valign="top" class="content">
    {% block breadcrumbs %}
    {% endblock %}

    <div class="content-text">
{% block content %}
{% endblock %}
{% if page_obj.has_other_pages %}
 <nav class="list-pages">
    <ul>
{% if page_obj.has_previous %}
 <li class="page-num">
     <a href="?page={{ page_obj.previous_page_number }}">&lt;</a>
 </li>
 {% endif %}
        {% for p in paginator.page_range %}
        {% if page_obj.number == p %}
        <li class="page-num page-num-selected">{{ p }}</li>
        {% elif p >= page_obj.number|add:-2 and p <= page_obj.number|add:2 %}
        <li class="page-num">
            <a href="?page={{ p }}">{{p}}</a>
        </li>
        {% endif %}
        {% endfor %}
{% if page_obj.has_next %}
 <li class="page-num">
     <a href="?page={{ page_obj.next_page_number }}">&lt;</a>
 </li>
 {% endif %}
    </ul>
</nav>
{% endif %}
    </div>

</td></tr></table>
</td></tr>
<tr><td>
    <div id="footer">
        <p>2023 year Almaty</p>
    </div>
</td></tr></table>

</body>
</html>





<!--<html>-->
<!--<head>-->
<!--    <meta charset="UTF-8">-->
<!--    <meta http-equiv="X-UA-Compatible" content="IE=edge">-->
<!--    <meta name="viewport" content="width=device-width, initial-scale=1.0">-->
<!--    <title>Studio Hair</title>-->
<!--    <link rel="shortcut icon" href="assests/img/favicon.png" type="image/x-icon">-->
<!--    &lt;!&ndash; icon &ndash;&gt;-->
<!--    <link href='https://unpkg.com/boxicons@2.0.9/css/boxicons.min.css' rel='stylesheet'>-->
<!--    &lt;!&ndash; estilo css &ndash;&gt;-->
<!--    <link rel="stylesheet" href="assests/css/style.css">-->
<!--</head>-->

<!--<body>-->
<!--    <header class="l-header" id="header">-->
<!--        <div class="navbar container flex">-->
<!--            <div class="brand">-->
<!--                <a href="#"><img src="assests/img/logo.svg" alt="Studio Hair"></a>-->
<!--            </div>-->
<!--            <div class="nav" id="nav">-->
<!--                <ul class="nav__menu">-->
<!--                    <li class="nav__item"><a href="#" class="nav__link active-link">home</a></li>-->
<!--                    <li class="nav__item"><a href="#about" class="nav__link">quem somos</a></li>-->
<!--                    <li class="nav__item"><a href="#services" class="nav__link">serviços</a></li>-->
<!--                    <li class="nav__item"><a href="#package" class="nav__link">pacotes</a></li>-->
<!--                    <li class="nav__item"><a href="#gallery" class="nav__link">galeria</a></li>-->
<!--                    <li class="nav__item"><a href="#contact" class="nav__link">contato</a></li>-->
<!--                </ul>-->
<!--            </div>-->

<!--            <div class="nav__toggle" id="nav-toggle">-->
<!--                <i class='bx bx-menu'></i>-->
<!--            </div>-->
<!--        </div>-->
<!--    </header>-->
<!--    <main>-->
<!--        <section class="hero">-->
<!--            <div class="container">-->
<!--                <div class="row">-->
<!--                    <div class="hero__img">-->
<!--                        <img src="assests/img/home-img.png" alt="">-->
<!--                    </div>-->
<!--                    <div class="hero__content">-->
<!--                        <h1>Seu Grande dia<br><span>em Grande estilo</span></h1>-->
<!--                        <p>Venha conhecer nosso cantinho da noiva e aproveite para agendar sua data.</p>-->
<!--                        <a href="#" class="btn btn__outline"><i class='bx bxl-whatsapp'></i>agende seu horário</a>-->
<!--                    </div>-->
<!--                </div>-->
<!--            </div>-->
<!--        </section>-->
<!--        <section class="about section" id="about">-->
<!--            <div class="container">-->
<!--                <div class="row">-->
<!--                    <div class="section__title">-->
<!--                        <h1>Nossa história</h1>-->
<!--                        <span>Studio Hair</span>-->
<!--                    </div>-->
<!--                    <div class="about__detail">-->
<!--                        <div class="about__detail__content">-->
<!--                            <div class="about__img">-->
<!--                                <img src="assests/img/about-img.jpg" alt="">-->
<!--                            </div>-->
<!--                            <div class="about__descripion">-->
<!--                                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit.-->
<!--                                     Velit possimus a sint.</p>-->
<!--                                <p>Obcaecati porro accusamus iusto rem aperiam. Lorem ipsum dolor sit amet consectetur adipisicing elit.-->
<!--                                    Velit possimus a sint.</p>-->
<!--                                <p>Eligendi nostrum architecto-->
<!--                                    quibusdam. Neque odio enim quasi ad culpa similique-->
<!--                                    quas.</p>-->
<!--                            </div>-->
<!--                        </div>-->
<!--                    </div>-->
<!--                </div>-->
<!--            </div>-->
<!--        </section>-->
<!--        <section class="services section" id="services">-->
<!--            <div class="services__content">-->
<!--                <div class="row">-->
<!--                    <div class="section__title">-->
<!--                        <h1>Serviços</h1>-->
<!--                        <span>Que realziamos</span>-->
<!--                    </div>-->
<!--                </div>-->
<!--                <div class="services__content__descripion grid container">-->
<!--                    <div class="box">-->
<!--                        <div class="inner">-->
<!--                            <img src="assests/img/servicos/manicure.png" alt="">-->
<!--                            <p>manicure</p>-->
<!--                        </div>-->
<!--                    </div>-->
<!--                    <div class="box">-->
<!--                        <div class="inner">-->
<!--                            <img src="assests/img/servicos/pedicure.png" alt="">-->
<!--                            <p>pedicure</p>-->
<!--                        </div>-->
<!--                    </div>-->
<!--                    <div class="box">-->
<!--                        <div class="inner">-->
<!--                            <img src="assests/img/servicos/maquiagem.png" alt="">-->
<!--                            <p>maquiagem</p>-->
<!--                        </div>-->
<!--                    </div>-->
<!--                    <div class="box">-->
<!--                        <div class="inner">-->
<!--                            <img src="assests/img/servicos/pentado.png" alt="">-->
<!--                            <p>penteado</p>-->
<!--                        </div>-->
<!--                    </div>-->
<!--                    <div class="box">-->
<!--                        <div class="inner">-->
<!--                            <img src="assests/img/servicos/corte.png" alt="">-->
<!--                            <p>corte de cabelo</p>-->
<!--                        </div>-->
<!--                    </div>-->
<!--                    <div class="box">-->
<!--                        <div class="inner">-->
<!--                            <img src="assests/img/servicos/sobrancelha.png" alt="">-->
<!--                            <p>design de sobrancelha</p>-->
<!--                        </div>-->
<!--                    </div>-->
<!--                    <div class="box">-->
<!--                        <div class="inner">-->
<!--                            <img src="assests/img/servicos/depilacao.png" alt="">-->
<!--                            <p>depiliação com cera</p>-->
<!--                        </div>-->
<!--                    </div>-->
<!--                    <div class="box">-->
<!--                        <div class="inner">-->
<!--                            <img src="assests/img/servicos/limpeza.png" alt="">-->
<!--                            <p>limpeza de pele</p>-->
<!--                        </div>-->
<!--                    </div>-->
<!--                </div>-->
<!--            </div>-->
<!--        </section>-->
<!--        <section class="package section" id="package">-->
<!--            <div class="package_-content">-->
<!--                <div class="row">-->
<!--                    <div class="section__title">-->
<!--                        <h1>Pacotes promocionais</h1>-->
<!--                        <span>Para seu dia de noiva</span>-->
<!--                    </div>-->
<!--                </div>-->
<!--                <div class="package__cards row container">-->
<!--                    <div class="card">-->
<!--                        <div class="card__title">-->
<!--                            <h1>Bronze</h1>-->
<!--                        </div>-->
<!--                        <div class="card__items">-->
<!--                            <div class="item">-->
<!--                                <i class='bx bx-message-square-check check__icon' ></i>-->
<!--                                <p>Penteado</p>-->
<!--                            </div>-->
<!--                            <div class="item">-->
<!--                                <i class='bx bx-message-square-check check__icon' ></i>-->
<!--                                <p>Maquiagem</p>-->
<!--                            </div>-->
<!--                            <div class="item">-->
<!--                                <i class='bx bx-message-square-check check__icon' ></i>-->
<!--                                <p>Unhas<span>(tradicional francesa)</span></p>-->
<!--                            </div>-->
<!--                            <div class="item">-->
<!--                                <i class='bx bx-message-square-x x__icon' ></i>-->
<!--                                <p class="not">Depilação<span>(1 area)</span></p>-->
<!--                            </div>-->
<!--                            <div class="item">-->
<!--                                <i class='bx bx-message-square-x x__icon' ></i>-->
<!--                                <p class="not">Design de sobrancelha</p>-->
<!--                            </div>-->
<!--                            <div class="item">-->
<!--                                <i class='bx bx-message-square-x x__icon' ></i>-->
<!--                                <p class="not">Limpeza de pele</p>-->
<!--                            </div>-->
<!--                            <div class="item">-->
<!--                                <i class='bx bx-message-square-x x__icon' ></i>-->
<!--                                <p class="not">Sala de noiva reservada</p>-->
<!--                            </div>-->
<!--                            <div class="item">-->
<!--                                <i class='bx bx-message-square-x x__icon' ></i>-->
<!--                                <p class="not">Mesa de frutas</p>-->
<!--                            </div>-->
<!--                            <button class="btn">quero esse</button>-->
<!--                        </div>-->
<!--                    </div>-->

<!--                    <div class="card">-->
<!--                        <div class="card__title">-->
<!--                            <h1>Prata</h1>-->
<!--                        </div>-->
<!--                        <div class="card__items">-->
<!--                            <div class="item">-->
<!--                                <i class='bx bx-message-square-check check__icon' ></i>-->
<!--                                <p>Penteado</p>-->
<!--                            </div>-->
<!--                            <div class="item">-->
<!--                                <i class='bx bx-message-square-check check__icon' ></i>-->
<!--                                <p>Maquiagem</p>-->
<!--                            </div>-->
<!--                            <div class="item">-->
<!--                                <i class='bx bx-message-square-check check__icon' ></i>-->
<!--                                <p>Unhas<span>(tradicional francesa)</span></p>-->
<!--                            </div>-->
<!--                            <div class="item">-->
<!--                                <i class='bx bx-message-square-check check__icon' ></i>-->
<!--                                <p>Depilação<span>(1 area)</span></p>-->
<!--                            </div>-->
<!--                            <div class="item">-->
<!--                                <i class='bx bx-message-square-check check__icon' ></i>-->
<!--                                <p>Design de sobrancelha</p>-->
<!--                            </div>-->
<!--                            <div class="item">-->
<!--                                <i class='bx bx-message-square-check check__icon' ></i>-->
<!--                                <p>Limpeza de pele</p>-->
<!--                            </div>-->
<!--                            <div class="item">-->
<!--                                <i class='bx bx-message-square-x x__icon' ></i>-->
<!--                                <p class="not">Sala de noiva reservada</p>-->
<!--                            </div>-->
<!--                            <div class="item">-->
<!--                                <i class='bx bx-message-square-x x__icon' ></i>-->
<!--                                <p class="not">Mesa de frutas</p>-->
<!--                            </div>-->
<!--                            <button class="btn">quero esse</button>-->
<!--                        </div>-->
<!--                    </div>-->

<!--                    <div class="card">-->
<!--                        <div class="card__title">-->
<!--                            <h1>Ouro</h1>-->
<!--                        </div>-->
<!--                        <div class="card__items">-->
<!--                            <div class="item">-->
<!--                                <i class='bx bx-message-square-check check__icon' ></i>-->
<!--                                <p>Penteado</p>-->
<!--                            </div>-->
<!--                            <div class="item">-->
<!--                                <i class='bx bx-message-square-check check__icon' ></i>-->
<!--                                <p>Maquiagem</p>-->
<!--                            </div>-->
<!--                            <div class="item">-->
<!--                                <i class='bx bx-message-square-check check__icon' ></i>-->
<!--                                <p>Unhas<span>(tradicional francesa)</span></p>-->
<!--                            </div>-->
<!--                            <div class="item">-->
<!--                                <i class='bx bx-message-square-check check__icon' ></i>-->
<!--                                <p>Depilação<span>(1 area)</span></p>-->
<!--                            </div>-->
<!--                            <div class="item">-->
<!--                                <i class='bx bx-message-square-check check__icon' ></i>-->
<!--                                <p>Design de sobrancelha</p>-->
<!--                            </div>-->
<!--                            <div class="item">-->
<!--                                <i class='bx bx-message-square-x x__icon' ></i>-->
<!--                                <p class="not">Limpeza de pele</p>-->
<!--                            </div>-->
<!--                            <div class="item">-->
<!--                                <i class='bx bx-message-square-check check__icon' ></i>-->
<!--                                <p>Sala de noiva reservada</p>-->
<!--                            </div>-->
<!--                            <div class="item">-->
<!--                                <i class='bx bx-message-square-x x__icon' ></i>-->
<!--                                <p class="not">Mesa de frutas</p>-->
<!--                            </div>-->
<!--                            <button class="btn">quero esse</button>-->
<!--                        </div>-->
<!--                    </div>-->

<!--                    <div class="card">-->
<!--                        <div class="card__title">-->
<!--                            <h1>Diamante</h1>-->
<!--                        </div>-->
<!--                        <div class="card__items">-->
<!--                            <div class="item">-->
<!--                                <i class='bx bx-message-square-check check__icon' ></i>-->
<!--                                <p>Penteado</p>-->
<!--                            </div>-->
<!--                            <div class="item">-->
<!--                                <i class='bx bx-message-square-check check__icon' ></i>-->
<!--                                <p>Maquiagem</p>-->
<!--                            </div>-->
<!--                            <div class="item">-->
<!--                                <i class='bx bx-message-square-check check__icon' ></i>-->
<!--                                <p>Unhas<span>(tradicional francesa)</span></p>-->
<!--                            </div>-->
<!--                            <div class="item">-->
<!--                                <i class='bx bx-message-square-check check__icon' ></i>-->
<!--                                <p>Depilação<span>(1 area)</span></p>-->
<!--                            </div>-->
<!--                            <div class="item">-->
<!--                                <i class='bx bx-message-square-check check__icon' ></i>-->
<!--                                <p>Design de sobrancelha</p>-->
<!--                            </div>-->
<!--                            <div class="item">-->
<!--                                <i class='bx bx-message-square-check check__icon' ></i>-->
<!--                                <p>Limpeza de pele</p>-->
<!--                            </div>-->
<!--                            <div class="item">-->
<!--                                <i class='bx bx-message-square-check check__icon' ></i>-->
<!--                                <p>Sala de noiva reservada</p>-->
<!--                            </div>-->
<!--                            <div class="item">-->
<!--                                <i class='bx bx-message-square-check check__icon' ></i>-->
<!--                                <p>Mesa de frutas</p>-->
<!--                            </div>-->
<!--                            <button class="btn">quero esse</button>-->
<!--                        </div>-->
<!--                    </div>-->
<!--                </div>-->
<!--            </div>-->
<!--        </section>-->
<!--        <section class="gallery section" id="gallery">-->
<!--            <div class="gallery__content">-->
<!--                <div class="row">-->
<!--                    <div class="section__title">-->
<!--                        <h1>Galeria</h1>-->
<!--                        <span>As princesas do nosso instragram</span>-->
<!--                    </div>-->
<!--                </div>-->
<!--                <div class="gallery__list__img row container">-->
<!--                    <div class="gallery__img">-->
<!--                        <img src="assests/img/img-insta/foto1.png" alt="">-->
<!--                    </div>-->
<!--                    <div class="gallery__img">-->
<!--                        <img src="assests/img/img-insta/foto2.png" alt="">-->
<!--                    </div>-->
<!--                    <div class="gallery__img">-->
<!--                        <img src="assests/img/img-insta/foto3.png" alt="">-->
<!--                    </div>-->
<!--                    <div class="gallery__img">-->
<!--                        <img src="assests/img/img-insta/foto4.png" alt="">-->
<!--                    </div>-->
<!--                    <div class="gallery__img">-->
<!--                        <img src="assests/img/img-insta/foto5.png" alt="">-->
<!--                    </div>-->
<!--                    <div class="gallery__img">-->
<!--                        <img src="assests/img/img-insta/foto6.png" alt="">-->
<!--                    </div>-->
<!--                    <div class="gallery__img">-->
<!--                        <img src="assests/img/img-insta/foto7.png" alt="">-->
<!--                    </div>-->
<!--                    <div class="gallery__img">-->
<!--                        <img src="assests/img/img-insta/foto8.png" alt="">-->
<!--                    </div>-->
<!--                </div>-->
<!--                <button class="btn">ver mais</button>-->
<!--            </div>-->
<!--        </section>-->
<!--        <section class="testimonials section">-->
<!--            <div class="testimonials__content">-->
<!--                <div class="row">-->
<!--                    <div class="section__title">-->
<!--                        <h1>Depoimentos</h1>-->
<!--                        <span>Veja o que nossos clientes tem a dizer</span>-->
<!--                    </div>-->
<!--                </div>-->
<!--                <div class="testimonials__card container grid">-->
<!--                    <div class="testimonials__item flex">-->
<!--                        <div class="testimonials__img">-->
<!--                            <img src="assests/img/depoimentos/depoimento-1.png" alt="">-->
<!--                        </div>-->
<!--                        <div class="testimonials__box">-->
<!--                            <div class="testimonials__name">-->
<!--                                <h1>Celaena</h1>-->
<!--                                <i class='bx bxs-star star__icon' ></i>-->
<!--                                <i class='bx bxs-star star__icon' ></i>-->
<!--                                <i class='bx bxs-star star__icon' ></i>-->
<!--                                <i class='bx bxs-star star__icon' ></i>-->
<!--                                <i class='bx bxs-star star__icon' ></i>-->
<!--                            </div>-->
<!--                            <div class="testimonials__descripition">-->
<!--                                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit.-->
<!--                                    Quidem quo saepe quibusdam nobis quas minima!</p>-->
<!--                            </div>-->
<!--                        </div>-->
<!--                    </div>-->
<!--                    <div class="testimonials__item flex">-->
<!--                        <div class="testimonials__img">-->
<!--                            <img src="assests/img/depoimentos/depoimento-2.png" alt="">-->
<!--                        </div>-->
<!--                        <div class="testimonials__box">-->
<!--                            <div class="testimonials__name">-->
<!--                                <h1>Aelin</h1>-->
<!--                                <i class='bx bxs-star star__icon' ></i>-->
<!--                                <i class='bx bxs-star star__icon' ></i>-->
<!--                                <i class='bx bxs-star star__icon' ></i>-->
<!--                                <i class='bx bxs-star star__icon' ></i>-->
<!--                                <i class='bx bxs-star star__icon' ></i>-->
<!--                            </div>-->
<!--                            <div class="testimonials__descripition">-->
<!--                                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit.-->
<!--                                    Quidem quo saepe quibusdam nobis quas minima!</p>-->
<!--                            </div>-->
<!--                        </div>-->
<!--                    </div>-->
<!--                    <div class="testimonials__item flex">-->
<!--                        <div class="testimonials__img">-->
<!--                            <img src="assests/img/depoimentos/depoimento-1.png" alt="">-->
<!--                        </div>-->
<!--                        <div class="testimonials__box">-->
<!--                            <div class="testimonials__name">-->
<!--                                <h1>Luciana</h1>-->
<!--                                <i class='bx bxs-star star__icon' ></i>-->
<!--                                <i class='bx bxs-star star__icon' ></i>-->
<!--                                <i class='bx bxs-star star__icon' ></i>-->
<!--                                <i class='bx bxs-star star__icon' ></i>-->
<!--                                <i class='bx bxs-star star__icon' ></i>-->
<!--                            </div>-->
<!--                            <div class="testimonials__descripition">-->
<!--                                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit.-->
<!--                                    Quidem quo saepe quibusdam nobis quas minima!</p>-->
<!--                            </div>-->
<!--                        </div>-->
<!--                    </div>-->
<!--                    <div class="testimonials__item flex">-->
<!--                        <div class="testimonials__img">-->
<!--                            <img src="assests/img/depoimentos/depoimento-2.png" alt="">-->
<!--                        </div>-->
<!--                        <div class="testimonials__box">-->
<!--                            <div class="testimonials__name">-->
<!--                                <h1>Patricia</h1>-->
<!--                                <i class='bx bxs-star star__icon' ></i>-->
<!--                                <i class='bx bxs-star star__icon' ></i>-->
<!--                                <i class='bx bxs-star star__icon' ></i>-->
<!--                                <i class='bx bxs-star star__icon' ></i>-->
<!--                                <i class='bx bxs-star star__icon' ></i>-->
<!--                            </div>-->
<!--                            <div class="testimonials__descripition">-->
<!--                                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit.-->
<!--                                    Quidem quo saepe quibusdam nobis quas minima!</p>-->
<!--                            </div>-->
<!--                        </div>-->
<!--                    </div>-->
<!--                </div>-->
<!--            </div>-->
<!--        </section>-->
<!--    </main>-->
<!--    <footer class="footer" id="contact">-->
<!--        <div class="footer__list section container grid">-->
<!--            <div class="footer__data">-->
<!--                <h1><a href="#"><img src="assests/img/logo.svg" alt=""></a></h1>-->
<!--                <div class="footer__data-social">-->
<!--                    <a href=""><i class='bx bxl-facebook social__icon'></i></a>-->
<!--                    <a href=""><i class='bx bxl-instagram social__icon' ></i></a>-->
<!--                    <a href=""><i class='bx bxl-whatsapp social__icon' ></i></a>-->
<!--                </div>-->
<!--            </div>-->
<!--            <div class="footer__data">-->
<!--                <h2>nosso endereço</h2>-->
<!--                <p>Rua das noivas, 123<br> São Paulo - SP</p>-->
<!--            </div>-->
<!--            <div class="footer__data">-->
<!--                <h2>nosso horario</h2>-->
<!--                <p>Segunda á sexta<br>das 09:00 as 18:00</p>-->
<!--            </div>-->
<!--            <div class="footer__data">-->
<!--                <h2>Contato</h2>-->
<!--                <p>(11) 92323-2323</p>-->
<!--                <p>(11) 4141-4141</p>-->
<!--            </div>-->
<!--        </div>-->
<!--        <div class="copy">-->
<!--            <p>&copy Todos os direitos reservados</p>-->
<!--            <span>Feito com 🤎 por MarquesCode</span>-->
<!--        </div>-->
<!--    </footer>-->
<!--    &lt;!&ndash; javascript &ndash;&gt;-->
<!--    <script src="assests/js/style.js"></script>-->
<!--</body>-->

<!--</html>-->